.cabezaYPie{
    background-color: #222222;
    color:#F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.cabezaYPie p{
    margin-left: 40px;
    text-align: center;
}


.barrapais{
    list-style: none;
    text-align:right;
    display: inline-flex;  
    margin-left: 40px;
    margin-right: 40px;
}

.barrapais,li{
    margin-left: 15px;
    margin-right: 15px;
}

.barranaranja{
    background-color: #F0A83E;;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white
    ;
}

.barranaranja1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.barranaranja2 input{
    background-color: white;
    color:rgb(85, 81, 81);
    margin-bottom: 12px;
    margin-top: 15px;
    width: 340px;
    height: 40px; 
    border-radius: 50px;
    border-style: none;
    padding-left: 20px;
}

.barranaranja2 button{
    width: 70px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 9px;
    color:white;
    background-color:#3C2313;
    border-style: none;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;  
}

.banner {
    background-image: url("../img/banner.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    /* background-size: contain; */
    display: flex;
    height: 856px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;   
}

.contenedorbanner{
    display: flex;
    justify-content: center;    
}

.bienvenida {
    background-color:#FFFFFF;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: #3C2313;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: inline-flex;
    height: 54px;
    width: 345px;
    font-size: 30px;
    margin-right: 20px;
}

.descuento{
    font-size: 16px;
    justify-content: center;
    margin-left: 25%;
}

.comederos{
    margin-left: 30%;
    background-color: #F0A83E;
    padding: 20px;
}

.barraproductos{
    list-style: none;
    display: flex;
    justify-content: center;

}

.destacados{
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 40px;
    text-align: center;
    color: #3C2313;
    
}

.contenedorflex{
    display: flex;
    justify-content: space-around;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor1 h2 {
    text-align: center;
    

}

.contenedor1 p{
    color: #F0A83E;
    text-align: center;
    width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info input{
    background-color: #3C2313;
    color:white;
    margin-bottom: 12px;
    width: 340px;
    height: 40px; 
    border-radius: 50px;
    border-style: none;
    padding-left: 20px;
}

.fa-envelope-open {
    color: white;
    font-size: 40px;
    margin-left: 12px;
    margin-right: 12px;
}
.cafe{
    background-color: #3C2313;
    color: white;
}

.contenedorbotones{
    display: flex;
    justify-content: center;
}

.boton1  {
    align-items: center;
    margin: 15px;
    width: 110px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color:white;
    background-color:#8A8787;
    border-style: none;
    border-radius: 50px;
}

.boton2  {
    align-items: center;
    margin: 15px;
    width: 110px;
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color:white;
    background-color: #F0A83E;
    border-style: none;
    border-radius: 50px;  
}

/* ANIMACION BARRA CAFE CONTENEDORA DE INFORMACION */

.cafe {
    display: flex;
    justify-content: space-between;
}

.contenedorcafe1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.localidad {
    display: flex;
    flex-direction: column;
}


.icono{
    font-size: 70px;
    margin: 10px;
    background-color: rgba(196, 191, 191, 0.291);
    padding: 0px;
    border-radius: 50%;
}

.contenedorcafe2{
    margin-top: 8%;
    margin-right: 30px;
    width: auto;
    height: auto;
}

.contenedorflexbannercafe{
    display: flex;
}

.descripcion{
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 20px;
    text-align: left;
    margin-top: 40px;
}

.datos{
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 10px;
    text-align: left;
    margin-top: -10px;
    color: #8A8787;
}

@media (max-width:375px){
    body{margin: 0px;
        padding: 0px;

    }
    .contenedorflex{
        flex-direction: column;
    }
    .cabezaYPie{
        display: none;
    }
    .banner{
        background-image: url("../img/banner.jpeg") no-repeat center center fixed ;
    }
    .barranaranja{
        display: flex;
        flex-direction: column;
    }
    .barranaranja2{
        display: flex;
        justify-content: center;
        width: 320px;
    }
    .contenedorcafe2{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        position:absolute;
        margin-top: 5px;
        align-items: center;
    }
    .contenedorcafe2 img{
        width: 50%;
        height: 50%;
    }
    .contenedorcafe1{
        margin-top: 35px;
    }
}

